<%- include("partial_headers.ejs"); %>

<section class="bg-black text-white p-1 text-center">
    <h5 class="ms-2">Welcome to your company home page!</h5>
    <h6 class="ms-2">If you want to manage your stock, please log-in.</h6>

</section>

<div class="blue flex-grow-1 d-inline-flex align-items-center justify-content-around">
    <div class="d-inline-flex align-items-center">
        <h3>COMPUTERS</h3>
        <img src="../static/img/portable.png" alt="illustration" id="icon">
    </div>

    <button type="button" class="btn btn-light"><a href="/computers">CONSULT</a></button>
</div>

<div class="yellow flex-grow-1 d-inline-flex align-items-center justify-content-around">
    <div class="d-inline-flex align-items-center">
        <h3>CPU</h3>
        <img src="../static/img/cpu.png" alt="illustration" id="icon">
    </div>

    <button type="button" class="btn btn btn-light text-dark"><a href="/cpus">CONSULT</a></button>
</div>

<div class="pink flex-grow-1 d-inline-flex align-items-center justify-content-around">
    <div class="d-inline-flex align-items-center">
        <h3>GPU</h3>
        <img src="../static/img/gpu.png" alt="illustration" id="icon">
    </div>

    <button type="button" class="btn btn btn-light text-dark"><a href="/gpus">CONSULT</a></button>
</div>


<%- include("partial_footer.ejs"); %>



