</section>

<!-- FOOTER -->
<footer class="p-1 text-center bg-white h6">
    <div class="copyright"> © 2021 | Justine Boillot, Paola Forte. All rights reserved.</div>
    <div class="ac-gf-footer-legal-links">
        <!-- CONTACT US -->
        <a class="ac-gf-footer-legal-link" href="../../index/contact">Contact Us</a> |
        <!-- LEGAL MENTIONS -->
        <a class="ac-gf-footer-legal-link" href="">Legal Mentions</a>

    </div>
</footer>

</body>
</html>