<!-- FOOTER -->
<footer class="footer container flex_col_C align-items">
    <div class="copyright"> © 2021 | Justine Boillot, Paola Forte. All rights reserved.</div>
    <div class="ac-gf-footer-legal-links">
        <!-- CONTACT US -->
        <a class="ac-gf-footer-legal-link" href="nous_contacter.php">Contact Us</a> |
        <!-- LEGAL MENTIONS -->
        <a class="ac-gf-footer-legal-link" href="mentions_legales.php">Legal Mentions</a>

    </div>
</footer>

</section>
</body>
</html>