<!-- views/partial_headers.ejs --> 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CompuStock Managing</title>
    <link rel="icon" type="image/x-icon" href="../../static/img/favicon.ico">

    <!-- Add external references: jquery, jquery ui, bootstrap ... -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <!-- https://getbootstrap.com/ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Static CSS/JS references... -->
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<header>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- LOGO -->
        <a class="navbar-brand" href="/">
            <img src="../../static/img/logo.PNG" alt="illustration" id="logo">
        </a>
        <div class="collapse navbar-collapse">
            <div class="navbar-collapse"> <!-- navbar-nav for a full-height and lightweight navigation (including support for dropdowns)-->
                <a class="nav-item nav-link" href='../'>HOME</a>
                <a class="nav-item nav-link" href='../computers'>COMPUTERS</a>
                <a class="nav-item nav-link" href="../cpu">CPU</a>
                <a class="nav-item nav-link" href="../gpu">GPU</a>
                <a class="nav-item nav-link" href="">CONTACT</a>
                <a class="nav-item nav-link" href="">LOGIN</a>
            </div>
        </div>
    </nav>
</header>

<section class="main">